<%- include('../partials/header') %>
<div class="form-container-2">
  <h2 class="heading-2">Search for attachments</h2>
  <div class="form">
    <form action="?" method="POST">
      <input type="text" name="searchQuery" id="searchQuery" value="<%= typeof data === 'undefined' ? '' : data.searchQuery %>" class="form-control form-input" placeholder="Search">
      <button type="submit" class="btn btn-dark btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></button>
    </form>
  </div>
</div>

<% if(typeof data !== 'undefined') { %>
  <div class="list-container">
    <% if(data?.errorMsg?.length) { %>
      <div class="alert alert-danger" role="alert">
        <%= data.errorMsg %>
      </div>
    <% } else { %>
      <h5 class="text-muted text-center">List of Attachments</h5>
    <% } %>
    <ul class="list-group list-group-light">
      <!-- Loop over this element to show all attachments -->
      <% data?.attachmentNames?.forEach((attachment) => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold"><%= attachment %></div>
            <div class="text-muted">From Gmail</div>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>

<%- include('../partials/footer') %>